@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <h1>Bem-vindo ao Sistema de Orçamento</h1>
    <nav>
        <ul>
            <li><a asp-controller="Home" asp-action="Pessoa">Cadastro de Pessoa</a></li>
            <li><a asp-controller="Home" asp-action="Orcamento">Gerar Orçamento</a></li>
        </ul>
    </nav>
</div>
